<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a56fd02a29.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="/stylesheets/2-3-A3.css">
  <title>餐廳作業</title>
</head>

<body>
  <div class="container">
    <header>
      <h2 class="title">
        <a href="/home" class="title">餐廳美食</a>
      </h2>
      <div class="searchbox">
        <input type="text" name="keyword" placeholder="  Search.....">
        <button class="search" type="submit" formaction="/search">搜尋</button>
      </div>
    </header>
    <div class="listType">
      <a href="/cardType" class="card-type fa fa-th m-1"></a>
      <a href="/listType" class="list-type fa fa-bars m-1"></a>
    </div>
    {{{body}}}
  </div>

</body>

</html>