<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/2-3-A3.css">
  <title>餐廳作業</title>
</head>

<body>
  <div class="container">
    <header>
      <h2 class="title">餐廳美食</h2>
      <input type="text" name="keyword" placeholder="  Search.....">
      <button class="search" type="submit" formaction="/search"></button>
    </header>
    <div class="list-type">
      <a href="localhost:3000/restaurants/cardType" class="card-type fa fa-th m-1"></a>
      <a href="localhost:3000/restaurants/listType" class="list-type fa fa-bars m-1"></a>
    </div>
    {{{body}}}
  </div>

</body>

</html>